<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Позиция</th>
      <th scope="col">Единица измерения</th>
      <th scope="col">Количество</th>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{  item['title']  }}</td>
      <td>{{ item['unit'] }}</td>
      <td>{{ item['amount'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    {% if status == 'Not issued' %}
    <form method="post" action="{{ url_for('issuedInvoice', invoiceId=invoiceIdRequest) }}" target="_blank">
   <button class="btn btn-danger">Выдать накладную</button>
  </form>
    {% endif %}
    <a href={{ url_for('createItem', invoiceIdRequest=invoiceIdRequest) }}>
<h4>Добавить товар в текущую накладную</h4>
    </a>
{{ status }}
</body>
</html>